* {
    padding: 0;
    margin: 0;
}

html, body #fullheight {
    min-height: 100% !important; /*trocar %*/
    height: 100%; /*trocar %*/
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container {
    height: 100%; /*trocar %*/
    background-color: black;
}

.result {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    height: 39%; /*trocar %*/
}

.result span {
    margin-right: 60px;
    font-size: 210px;
    justify-content: flex-end;
}

.buttons {
    width: 100%; /*trocar %*/
    height: 60%; /*trocar %*/
    background-color: black;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 600%; /*trocar %*/
    color: white;
    border-radius: 100%;
    width: 210px;
    height: 210px;
    padding: 10px;
    cursor: pointer;
    align-self: center;
    justify-content: center;
}

.percent {
    background-color: #A5A5A5;
    border: none;
    color: black;
}

.item1 {
    background-color: #A5A5A5;
    border: none;
}

.item3 {
    background-color: #ff9f0a;
    border: none;
}

.numbers, .comma {
    background-color: #343434;
    border: none;
}

.negative, .clear {
    background-color: #343434;
    
}

.itemZero {
    width: 435px;
    border-radius: 135px;
    grid-column: span 2;
    border: none;
}

